.app {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.panel {
    display: flex;
    width: 100px;
    position: absolute;
    height: 100%;
    flex-direction: column;
    background-color: #404040;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0.8;
    transition: width 0.5s ease;
}

.panel-btn {
    font-size: 50px;
    margin-bottom: 50px;
}

.panel-content {
    width: 100%;
    padding: 20px;
}

.panel-month-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.slider {
    max-width: 300px;
}

.slider-track {
    top: 8px;
    height: 4px;
    background: white;
}

.slider-thumb {
    width: 20px;
    height: 20px;
    background: white;
    border: 2px solid white;
}

.map-container {
    flex: auto;
}

.expended {
    width: 40%;
    opacity: 1;
    align-items: start;
    justify-content: start;
    padding: 30px;
}

.marker {
    background-color: #a83832;
    position: relative;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}

.tooltip {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 25rem;
    gap: 1rem;
}

.tooltip-title {
    font-size: 16px;
    font-weight: bold;
}

.tooltip-description {
    font-size: 14px;
}

.tooltip-video {
    height: 200px;
}

.hide {
    display: none;
}
